# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
pnpm-workspace.yaml
package-lock.json
yarn.lock

# graphql client codegen
schema.graphql
**/graphql/fragment-masking.*
**/graphql/graphql.*
**/graphql/gql.*
**/graphql/index.*
