@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  min-height: 100vh;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter Variable", "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
